@page
@model webGDPR.Areas.Identity.Pages.Account.InstallApplicationModel
@{
	ViewData["Title"] = "Registration Step 2";
}
<h2>@ViewData["Title"]</h2>

<p>Please enter your current location below and click Update.</p>
<partial name="_PickLocationPartial" model="@Model.UserInfo" />
<hr />
<partial name="DownloadAppPartial" />
