@page
@model RegisterModel
@{
	ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
	<div class="col-md-4">
		<form asp-route-returnUrl="@Model.ReturnUrl" method="post">
			<h4>Create a new account.</h4>
			<hr />
			<div asp-validation-summary="All" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Input.Name"></label>
				<input asp-for="Input.Name" class="form-control" />
				<span asp-validation-for="Input.Name" class="text-danger"></span>
			</div>
			@*<div class="form-group">
			<label asp-for="Input.Age"></label>
			<input asp-for="Input.Age" class="form-control" />
			<span asp-validation-for="Input.Age" class="text-danger"></span>
		</div>*@
			<div class="form-group">
				<label asp-for="Input.Email"></label>
				<input asp-for="Input.Email" class="form-control" />
				<span asp-validation-for="Input.Email" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Input.Password"></label>
				<input asp-for="Input.Password" class="form-control" />
				<span asp-validation-for="Input.Password" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Input.ConfirmPassword"></label>
				<input asp-for="Input.ConfirmPassword" class="form-control" />
				<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Input.BaseHWId"></label>
				<input asp-for="Input.BaseHWId" class="form-control" />
				<span asp-validation-for="Input.BaseHWId" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Input.CollarHWId"></label>
				<input asp-for="Input.CollarHWId" class="form-control" />
				<span asp-validation-for="Input.CollarHWId" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Input.PetName"></label>
				<input asp-for="Input.PetName" class="form-control" />
				<span asp-validation-for="Input.PetName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<div class="checkbox">
					<label>
						<input asp-for="Input.Subscribe" /><label asp-for="Input.Subscribe"></label>
					</label>
					<span asp-validation-for="Input.Subscribe" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group">
				<div class="checkbox">
					<label>
						<input asp-for="Input.AcceptTC" /><label asp-for="Input.AcceptTC"></label> <a asp-controller="Home" target="_blank" asp-action="TermsAndConditions">Read more...</a>
					</label>
					<span asp-validation-for="Input.AcceptTC" class="text-danger"></span>
				</div>
			</div>
			<script>
				// extend jquery range validator to work for required checkboxes
				var defaultRangeValidator = $.validator.methods.range;
				$.validator.methods.range = function (value, element, param) {
					if (element.type === 'checkbox') {
						// if it's a checkbox return true if it is checked
						return element.checked;
					} else {
						// otherwise run the default validation function
						return defaultRangeValidator.call(this, value, element, param);
					}
				}
			</script>
			<div class="form-group">
				Subscription Payment Section
				checkbox to accept pay the subscription
				plus, checkbox to accept terms and conditions
				<div id="paypal-button-container"></div>
				<script src="https://www.paypalobjects.com/api/checkout.js"></script>
				<script>
					// Render the PayPal button
					paypal.Button.render({
						// Set your environment
						env: 'sandbox', // sandbox | production

                        // Specify the style of the button
                        style: {
                            layout: 'vertical',  // horizontal | vertical
                            size: 'medium',    // medium | large | responsive
                            shape: 'rect',      // pill | rect
                            color: 'gold'       // gold | blue | silver | white | black
                        },

                        // Specify allowed and disallowed funding sources
                        //
                        // Options:
                        // - paypal.FUNDING.CARD
                        // - paypal.FUNDING.CREDIT
                        // - paypal.FUNDING.ELV
                        funding: {
                            allowed: [
                                paypal.FUNDING.CARD,
                                paypal.FUNDING.CREDIT
                            ],
                            disallowed: []
                        },

                        // Enable Pay Now checkout flow (optional)
                        commit: true,

                        // PayPal Client IDs - replace with your own
                        // Create a PayPal app: https://developer.paypal.com/developer/applications/create
                        client: {
                            sandbox: 'AZDxjDScFpQtjWTOUtWKbyN_bDt4OgqaF4eYXlewfBP4-8aqX3PiV8e1GWU6liB2CUXlkA59kJXE7M6R',
                            production: 'AatWk8OWcDZPa0suLM2BcZiiriW_YR5DN6XrUv3Fe6-zgNcwdbqaN9wksgf2YLVPNyed8gIuxlSFk_0X'
                        },

                        payment: function (data, actions) {
                            return actions.payment.create({
                                payment: {
                                    transactions: [
                                        {
                                            amount: {
                                                total: '0.01',
                                                currency: 'USD'
                                            }
                                        }
                                    ]
                                }
                            });
                        },

                        onAuthorize: function (data, actions) {
                            return actions.payment.execute()
                                .then(function () {
                                    window.alert('Payment Complete!');
                                });
                        }
                    }, '#paypal-button-container');
                </script>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="GY6GG7E7X2HUY">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>

            </div>
			<button type="submit" class="btn btn-default">Register</button>
		</form>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<partial name="_PaypalScriptsPartial" />
}
