@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@{
	ViewData["Title"] = Localizer["Terms and Conditions"];
}
<h2>@ViewData["Title"]</h2>

<p>Use this page to detail your site's terms and conditions.</p>
