/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
#mapContainer {
	height: 100%
}
.card-map {
	height: 100%
}

#pano {
	float: left;
	height: 40%;
	width: 30%;
	max-height: 300px;
	max-width: 300px;
	top: -40%;
}

#panoDashboard {
	float: left;
	height: 40%;
	width: 70%;
	max-height: 300px;
	max-width: 300px;
	top: -40%;
}

.range {
	position: relative;
	width: 360px;
	height: 5px;
}

.range input {
	width: 100%;
	position: absolute;
	top: 2px;
	height: 0;
	-webkit-appearance: none;
}

	.range input::-webkit-slider-thumb {
		-webkit-appearance: none;
		width: 18px;
		height: 18px;
		margin: -8px 0 0;
		border-radius: 50%;
		background: #37adbf;
		cursor: pointer;
		border: 0 !important;
	}

	.range input::-moz-range-thumb {
		width: 18px;
		height: 18px;
		margin: -8px 0 0;
		border-radius: 50%;
		background: #37adbf;
		cursor: pointer;
		border: 0 !important;
	}

	.range input::-ms-thumb {
		width: 18px;
		height: 18px;
		margin: -8px 0 0;
		border-radius: 50%;
		background: #37adbf;
		cursor: pointer;
		border: 0 !important;
	}

	.range input::-webkit-slider-runnable-track {
		width: 100%;
		height: 2px;
		cursor: pointer;
		background: #b2b2b2;
	}

	.range input::-moz-range-track {
		width: 100%;
		height: 2px;
		cursor: pointer;
		background: #b2b2b2;
	}

	.range input::-ms-track {
		width: 100%;
		height: 2px;
		cursor: pointer;
		background: #b2b2b2;
	}

	.range input:focus {
		background: none;
		outline: none;
	}

	.range input::-ms-track {
		width: 100%;
		cursor: pointer;
		background: transparent;
		border-color: transparent;
		color: transparent;
	}

.range-labels {
	margin: 18px -11px 0;
	padding: 0;
	list-style: none;
}

	.range-labels li {
		position: relative;
		float: left;
		width: 75.25px;
		text-align: center;
		color: #b2b2b2;
		font-size: 14px;
		cursor: pointer;
	}

		.range-labels li::before {
			position: absolute;
			top: -25px;
			right: 0;
			left: 0;
			content: "";
			margin: 0 auto;
			width: 9px;
			height: 9px;
			background: #b2b2b2;
			border-radius: 50%;
		}

	.range-labels .active {
		color: #37adbf;
	}

	.range-labels .selected::before {
		background: #37adbf;
	}

	.range-labels .active.selected::before {
		display: none;
	}

.dropdown-link {
color: black !important;
text-decoration: none !important;

}

tr, td {
	border-bottom: 0px solid #ddd !important;
	border-top: 0px solid #ddd !important;
}

.dropdown-menu {
	min-width: unset;
}

	
