<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="RollbarToken" value="15b6c728ed214a5d9e3965db1fbdda2d"/>
		<add key="RollbarEnvironnement" value="Development"/>
		<add key="SlackWebHook" value="https://hooks.slack.com/services/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"/>
	</appSettings>
</configuration>