@model User
@{
	ViewData["Title"] = "FixMissingSubscription";
}

<h2>Fix Missing Subscription</h2>

Show the pets you have in your list, active pets.
Show the subscritions you are paying.

Button to register

