@model User
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
	ViewData["Title"] = Localizer["Pick a location"];
}

<h2>@ViewData["Title"]</h2>

<partial name="_PickLocationPartial" model="@Model" />

