@model User
@*
	https://developers.google.com/maps/documentation/geocoding/intro
	https://maps.googleapis.com/maps/api/geocode/json?address=1600+Amphitheatre+Parkway,+Mountain+View,+CA&key=
		https://maps.googleapis.com/maps/api/geocode/json?latlng=40.714224,-73.961452&key=
*@

@if (!string.IsNullOrEmpty(Model.FormattedAddress))
{
<p>This is your current location:</p>
<div class="well well-lg">@Model.FormattedAddress</div>
<p>If it's wrong, please enter your current location below and click Update.</p>
<hr />
}
else
{
<p>Please enter your current location below and click Update.</p>
}
<div class="row">
	<form asp-controller="User" asp-action="PickLocation" enctype="multipart/form-data">
		<div class="col-md-8">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="FormattedAddress" class="control-label"></label>
				<input asp-for="FormattedAddress" class="form-control" />
				<span asp-validation-for="FormattedAddress" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Update" class="btn btn-default" />
			</div>

		</div>
	</form>
</div>



