<div>
	<p>
		Thank you for creating your account.
		Now, you have to download and install the application that will be connected to the base.
		You have the following options:

	<p>Mobil Devices</p>
	<ul>
		<li>android Application - Google play link</li>
		<li>IOS Application - Apple Store Link</li>
		<li>Windows Phone / 10 Application - Microsoft Store link</li>
	</ul>
	<p>Computers</p>
	<ul>
		<li>PC - link</li>
		<li>MacOS - Apple Store Link</li>
	</ul>
</div>
